@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

body {
    background-color:#151414;
    color: #F5F5F5;
    font-family: 'Poppins', sans-serif;
}

.auth-card{
    background-color: #3C3A3A !important;
    padding: 2.5em;
    border-radius: 1em;
    width: 35rem;
}

.form-text {
    color: #F7F1F1 !important;
}

.form-control:focus {
    outline: none !important;
    border:1px solid #F7F1F1;
    box-shadow: 0 0 5px #F7F1F1;
}

.btn {
    font-family: "Source Code Pro", monospace !important;
}

.btn.btn-primary {
    background-color: #FB5E5E !important;
    color: #F5F5F5 !important;
    border-color: #F7F1F1;
    transition: all;
    transition-duration:500ms;
    font-weight: 800;
    width: 50%;
    font-size: 1em;
}

.btn.btn-primary:focus {
    outline: none !important;
    border:1px solid #F7F1F1;
    box-shadow: 0 0 5px #F7F1F1;
}

.btn.btn-primary:hover {
    background-color: #A32727 !important;
    transition: all;
    transition-duration:500ms;
}

.btn.btn-outline-primary {
    border-color: #FB5E5E;
    color: #FB5E5E;
    transition: all;
    transition-duration:500ms;
    font-weight: 800;
    font-size: 1em;
    width:50%;
}

.btn.btn-outline-primary:focus {
    outline: none !important;
    border:1px solid #F7F1F1;
    box-shadow: 0 0 5px #F7F1F1;
    background-color: #A32727 !important;
    color: #F5F5F5;
}

.btn.btn-outline-primary:hover {
    background-color: #FB5E5E !important;
    color: #F5F5F5;
    transition: all;
    transition-duration:500ms;
}

.alert.alert-danger {
    background-color: #8C3041;
    color: #F5F5F5;
}

.alert.alert-success {
    background-color: #60AC34;
    color: #F5F5F5;
}

.alert.alert-info {
    background-color: #26BFBF;
    color: #F5F5F5;
}

.alert.alert-success i, .alert.alert-danger i, .alert.alert-info i {
    font-size: 2em;
    margin-right: 1em;
}

.nav-link {
    font-family: "Source Code Pro", monospace !important;
}

.nav-link.active {
    border-bottom-color: #FB5E5E;
    border-bottom-width: .2em;
    border-bottom-style: solid;
    font-weight: 600;
}

.btn-create-message {
    width: 15em !important;
    padding: 1em;
    font-size: 1.25em !important;
}

.message {
    padding: 1em;
    margin-top: 1em;
    background-color: #2b2a2a;
    border-radius: 1em;
    transition: all;
    transition-duration:500ms;
}

.message:hover {
    background-color: #3C3A3A;
}

.message .short-text, .message-content p:last-of-type {
    text-align: justify;
    text-justify: inter-word;
}

.btn-action-message {
    width: 14em !important;
    padding: 0.8em;
    font-size: 1em !important;
}

.btn.btn-danger {
    background-color: #FF375F !important;
    color: #F5F5F5 !important;
    border-color: #F7F1F1;
    transition: all;
    transition-duration:500ms;
    font-weight: 800;
    width: 50%;
    font-size: 1em;
}

.btn.btn-danger:focus {
    outline: none !important;
    border:1px solid #F7F1F1;
    box-shadow: 0 0 5px #F7F1F1;
}

.btn.btn-danger:hover {
    background-color: #F7F1F1 !important;
    color: #FF375F !important;
    border:1px solid #FF375F;
    transition: all;
    transition-duration:500ms;
}

.btn.btn-success {
    background-color: #26BFBF !important;
    color: #F5F5F5 !important;
    border-color: #F7F1F1;
    transition: all;
    transition-duration:500ms;
    font-weight: 800;
    width: 50%;
    font-size: 1em;
}

.btn.btn-success:focus {
    outline: none !important;
    border:1px solid #F7F1F1;
    box-shadow: 0 0 5px #F7F1F1;
}

.btn.btn-success:hover {
    background-color: #F7F1F1 !important;
    color: #26BFBF !important;
    border:1px solid #26BFBF;
    transition: all;
    transition-duration:500ms;
}

.btn.btn-secondary {
    background-color: #F23A29!important;
    color: #F5F5F5 !important;
    border-color: #F7F1F1;
    transition: all;
    transition-duration:500ms;
    font-weight: 800;
    width: 50%;
    font-size: 1em;
}

.btn.btn-secondary:focus {
    outline: none !important;
    border:1px solid #F7F1F1;
    box-shadow: 0 0 5px #F7F1F1;
}

.btn.btn-secondary:hover {
    background-color: #F7F1F1 !important;
    color: #F23A29 !important;
    border:1px solid #F23A29;
    transition: all;
    transition-duration:500ms;
}

.create-message-form {
    padding: 2em;
    background-color: #2b2a2a;
    border-radius: 2em;
}

.message-content, .message-comments {
    background-color: #2b2a2a;
    padding: 2em;
    border-radius: 1em;
}

.comment {
    background-color: #3C3A3A;
}

.comment .user-icon {
    font-size: 2em;
}

.comment .comment-text {
    font-size: 0.9em;
}

.comment .cassette {
    border-right: solid 1px #F7F1F1;
}

.data-styling {
    font-size: .7em;
    font-family: "Source Code Pro", monospace;
}

@media only screen and (max-width: 600px) {
    .message-text {
        min-height: 5vh;
    }
}

@media only screen and (min-width: 600px) {
    .message-text {
        min-height: 15vh;
    }
}

@media only screen and (min-width: 768px) {
    .message-text {
        min-height: 25vh;
    }
}

@media only screen and (min-width: 992px) {
    .message-text {
        min-height: 35vh;
    }
}

@media only screen and (min-width: 1200px) {
    .message-text {
        min-height: 50vh;
    }
}